{% extends 'base.html.twig' %}

{% block body %}
    <h1>Booking List</h1>
    <p>
        Created by Symfony's CRUD maker.
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BeginAt</th>
                <th>EndAt</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.title }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('booking_new') }}">Create new booking event</a>
{% endblock %}
