{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block content %}
    <h1>Booking: {[booking.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>BeginAt</th>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ booking.title }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
