<table class="table js-datatable">
    <thead>
    <tr>
        <th>actions</th>
        <th>Id</th>
        <th>Url</th>
        <th>EventCount</th>
        <th>Slug</th>
    </tr>
    </thead>
    <tbody>
    {% for feed in feeds %}
        <tr>
            <td>
                <a href="{{ path('feed_show', feed.rp) }}">
                    <span class="fas fa-eye"></span>
                    <i class="bi bi-info"></i>
                </a>
                <a href="{{ path('feed_edit', feed.rp) }}">
                    <span class="fas fa-edit"></span>
                    <i class="bi bi-pencil"></i>
                </a>
            </td>

            <td>{{ feed.id }}</td>
            <td>{{ feed.url }}</td>
            <td>{{ feed.eventCount }}</td>
            <td><a href="{{ path('feed_show', feed.rP) }}">
                    {{ feed.slug }}
                </a>
            </td>

        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
